.sc-code-example {
  font-size: 1vw;

  &--medium {
    font-size: 1.5vw;
  }

  &--large {
    font-size: 2vw;
  }

  &--inline {
    display: inline-block;
    padding: 1em;
    margin: .5em 0;
  }
}