.sc-header {
  text-align: center;

  &--hero {
    @include center();
  }

  &__title {
    font-size: 3vw;
    line-height: 1;
    margin-bottom: 25px;

    &--habit {
      &::after {
        counter-increment: habit;
        content: " #" counter(habit)
      }
    }
  }

  &__sub-title {
    font-size: 2vw;
    line-height: 1;
  }

  &__copy {
    font-size: 1.5vw;
    line-height: 1.5;
  }
}