.sc-slide {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 2.5%;

  &--center {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__main {
    align-items: center;
    display: flex;
    flex-grow: 1;
    position: relative;

    &--vertical {
      flex-direction: column;
    }
  }

  // Slide-specific styles

  &--sharing-forms {
    img {
      @include center();
      width: 50%;
    }
  }

  &--contributing {
    img {
      display: block;
      height: 350px;
      margin: 0 auto;
      width: auto;
    }
  }

  &--what-is-github {
    img {
      height: 250px;
    }
  }

  &--git-concepts {
    img {
      display: block;
      height: 200px;
      margin: 0 auto;
      width: auto;
    }
  }

  &--audience {
    img {
      height: 250px;
      width: auto;
      max-width: none;
    }
  }

  &--sassdoc {
    img {
      display: block;
      margin: 0 5vw;
      width: 30vw;
    }
  }

  &--download-github {
    img {
      display: block;
      height: 40vh;
      margin: 0 auto;
    }
  }
}