.sc-u-center-text {
  text-align: center;
}

.sc-u-full-width {
  display: block;
  width: 100%;
}

.sc-u-center {
  @include center();
}

.sc-quote {
  margin: 0 auto;
  width: 50%;

  blockquote {
    font-size: 5vw;
    line-height: 1;
    font-style: italic;
    margin: 25px 0;
  }

  &__attribution {
    text-align: right;
  }
}

.sc-u-inline-image {
  display: inline-block;
  height: 1em;
  margin-right: 0.25em;
  vertical-align: bottom;
}

.sc-u-screenshot {
  display: block;
  margin: 0 auto;
  max-width: 50vw;
}